@charset "utf-8";
@import url("../resources/Open_Sans/OpenSans-Regular.ttf");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-color: rgb(48, 46, 46);
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 46, 46);
}


.logo img {
    width: 82px;
    height: 50px;
    margin-left: 20px;
}


.search img {
    width: 35px;
    height: 30px;
    margin-right: 20px;
}

.people {
    background-image: url(../images/background.png);
    height: 84vh;
    background-size: cover;
    background-position: center;
    padding: 7rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 130px;
}

.info h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 60px;   
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    width: 25%;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;  
}

.info a {
    color: #fff;
    width: 200px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 94, 0);
    border-radius: 1px;
}

.info a h2 {
    margin-top: 7px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}

.info a:hover {
    background-color: rgb(192, 89, 29);
}

.origin {
    background-color: rgb(255, 94, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.origin h2 {
    color: #fff;
    font-size: 60px;
    font-family:'Oswald', sans-serif;
}

.origin p {
    color: #fff;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    text-align: center;
}

.positions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.position:hover {
  transform: translateY(-8px);/*Altura a la que se desplaza cuando el contenedor es seleccionado*/
}

.position img {
    width: 70%;
    height: 70%;
    margin-bottom: -20px;
}

.erda {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 46, 46);
    width: 70%;
    text-align: center;
}

.erda h3 {
    font-size: 30px;
    color: #fff;
    font-family:'Oswald', sans-serif;
}

.erda p {
    font-size: 13px;
    color: #fff;
    margin-top: -20px;
    width: 65%;
}

.medallas {
    background-color: rgb(48, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
}

.medallas h2 {
    font-family:'Oswald', sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 60px;
    margin-top: -45px;
}

.medallas p {
    font-weight: lighter;
    width: 55%;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;  
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.medallas-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.medalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: rgb(255, 94, 0);
    width: 30%;
    height: 500px;
    margin-top: 30px;
    gap: 20px;
    text-align: center;
    margin-bottom: -30px;
}

.medalla:hover {
    transform: translateY(-8px);/*Altura a la que se desplaza cuando el contenedor es seleccionado*/
}

.medalla img {
    width: 30%;
    height: 30%;
    margin-bottom: -20px;
}

.medalla p {
    font-size: 15px;
    color: #fff;
    margin-top: -20px;
}

.medalla h3 {
    font-family:'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
}

.button-medalla {
    color: #fff;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(48, 46, 46);
    border-radius: 1px;
}

.button-medalla h3 {
    margin-top: 7px;
    font-size: 25px;
    font-family:'Oswald', sans-serif;
    font-weight: lighter;
}

.button-medalla:hover {
    background-color: rgb(80, 76, 76);
}

.footer {
    background-color: rgb(255, 94, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer p {
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

/* MEDIA QUERIES */

@media (min-width:921px) and (max-width:1279px){
	.header{
		background-color: blue;
	}

    .people{
        background-size:cover;
        background-position:center;
        height: 50vh;
    }

    .info {
        margin-top: 15px;
    }

    .info p{
        width: 50%;
        font-size: 20px;
    }

    .info h2{
        font-size: 60px;
    }

    .info a{
        width: 190px;
        height: 40px;
    }

    .info a h2{
        font-size: 20px;
        margin-top: 10px;
    }

    .origin{
        height: 120vh;
    }

    .origin h2{
        font-size: 50px;
    }

    .origin p{
        font-size: 22px;
        margin-top: 2px;
    }

    .position img{
        width: 70%;
        height: 66%;
    }

    .erda{
        width: 70%;
        height: 80%;
        margin-top: 19px;
    }

    .erda h3 {
        font-size: 25px;
    }

    .erda p {
        font-size: 16px;
    }

    .medallas-container{
        gap: 80px;
    }
    .medallas h2{
        font-size: 60px;
    }

    .medallas p{
        font-size: 24px;
        margin-top: 2px;
    }

    .medalla{
        width: 50%;
        height: 430px;
        margin-top: 10px;
        gap: 10px;
    }
    .medalla img{
        width: 40%;
        height: 20%;
    }

    .medalla p{
        font-size: 15px;
        width: 100%;
    }
    
    .medalla h3{
        font-size: 25px;
    }

    .button-medalla{
        width: 140px;
        height: 37px;
    }

    .button-medalla h3{
        font-size: 18px;
        margin-top: 5px;
    }

    .footer p{
        font-size: 17px;
    }

}

@media (min-width:769px) and (max-width:920px){
	.header{
		background-color: crimson;
	}

    .people{
        background-size:cover;
        background-position:center;
        height: 50vh;
    }

    .info {
        margin-top: 15px;
    }

    .info p{
        width: 50%;
        font-size: 15px;
    }

    .info h2{
        font-size: 50px;
    }

    .origin{
        height: 110vh;
    }

    .origin h2{
        font-size: 40px;
    }

    .origin p{
        font-size: 15px;
        margin-top: 2px;
    }

    .position img{
        width: 70%;
        height: 66%;
    }

    .erda{
        width: 70%;
        height: 80%;
        margin-top: 19px;
    }

    .erda h3 {
        font-size: 15px;
    }

    .erda p {
        font-size: 11px;
        width: 90%;
    }

    .medallas h2{
        font-size: 40px;
    }

    .medallas p{
        font-size: 15px;
        margin-top: 2px;
    }

    .medallas-container{
        gap: 65px;
    }

    .medalla{
        width: 30%;
        height: 320px;
        margin-top: 10px;
        gap: 10px;
    }
    .medalla img{
        width: 30%;
        height: 20%;
    }

    .medalla p{
        font-size: 14px;
        width: 90%;
    }
    
    .medalla h3{
        font-size: 17px;
    }

    .button-medalla{
        width: 120px;
        height: 30px;
    }

    .button-medalla h3{
        font-size: 15px;
        margin-top: 4px;
    }

    .footer p{
        font-size: 13px;
    }
}

@media (min-width:481px) and (max-width:768px){
	.header{
        background-color: aqua;
    }

    .people{
        background-size:cover;
        background-position:center;
        height: 40vh;
    }

    .info {
        margin-top: 15px;
    }

    .info p{
        width: 80%;
        font-size: 13px;
    }

    .info h2{
        font-size: 40px;
    }

    .info a{
        width: 150px;
        height: 25px;
    }

    .info a h2{
        font-size: 10px;
        margin-top: 7px;
    }

    .origin{
        height: 80vh;
    }

    .origin h2{
        font-size: 30px;
    }

    .origin p{
        font-size: 13px;
        margin-top: 2px;
    }

    .position img{
        width: 70%;
        height: 66%;
    }

    .erda{
        width: 70%;
        height: 80%;
        margin-top: 19px;
    }

    .erda h3 {
        font-size: 11px;
    }

    .erda p {
        font-size: 10px;
        width: 100%;
    }

    .medallas h2{
        font-size: 30px;
    }

    .medallas p{
        font-size: 13px;
        margin-top: 2px;
    }

    .medallas-container{
        gap: 40px;
    }

    .medalla{
        width: 150px;
        height: 260px;
        margin-top: 10px;
        gap: 10px;
    }

    .medalla img{
        width: 30%;
        height: 20%;
    }

    .medalla p{
        font-size: 10px;
        width: 100%;
    }
    
    .medalla h3{
        font-size: 17px;
    }

    .button-medalla{
        width: 80px;
        height: 30px;
    }

    .button-medalla h3{
        font-size: 12px;
        margin-top: 5px;
    }

    .footer p{
        font-size: 11px;
    }
}

@media (min-width:352px) and (max-width: 480px){
	.header{
        background-color:darkblue;
    }

    .people{
        background-size:cover;
        background-position:center;
        height: 30vh;
    }

    .info {
        margin-top: 13px;
    }

    .info p{
        width: 99%;
        font-size: 12px;
    }

    .info h2{
        font-size: 30px;
    }

    .info a{
        width: 150px;
        height: 25px;
    }

    .info a h2{
        font-size: 10px;
        margin-top: 7px;
    }

    .origin{
        height: 60vh;
    }

    .origin h2{
        font-size: 30px;
    }

    .origin p{
        font-size: 13px;
        margin-top: 2px;
        width: 90%;
    }

    .position img{
        width: 70%;
        height: 66%;
    }

    .erda{
        width: 70%;
        height: 55%;
        margin-top: 19px;
    }

    .erda h3 {
        font-size: 11px;
    }

    .erda p {
        font-size: 8px;
        width: 85%;
    }

    .medallas h2{
        font-size: 30px;
    }

    .medallas p{
        font-size: 10px;
        margin-top: 2px;
        width: 90%;
    }

    .medallas-container{
        gap: 25px;
    }

    .medalla{
        width: 100px;
        height: 200px;
        margin-top: 10px;
        gap: 10px;
    }

    .medalla img{
        width: 30%;
        height: 15%;
    }

    .medalla p{
        font-size: 8px;
        width: 90%;
    }
    
    .medalla h3{
        font-size: 13px;
    }

    .button-medalla{
        width: 60px;
        height: 20px;
    }

    .button-medalla h3{
        font-size: 8px;
        margin-top: 3px;
    }

    .footer p{
        font-size: 11px;
    }
}